/* 商品の概要 */

.item-show {
  background-color: #bcd079;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #bcd079;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #bcd079;
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #8f2d12;
  font-size: 24px;
  font-weight: bold;
  color: #fffffe;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: #afafb0;
  text-align: center;
  font-size: 24px;
  color: #130012;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #708b1e;
  border: 1px solid #f6f7f8;
  color: #fffffe;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  background-color: #fffffe;
  border: 1px solid #f6f7f8;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}


/* /商品の概要 */

.comment-show {
  background-color: #bcd079;
  width: 100vw;
  padding: 1vh 0;
}

.comment-box{
  padding: 0 10%;
  margin: 28px 0 40px 0;
}

.comment-title{
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #00a1ae;
  font-weight: bold;
}

.comment-text {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #afafb0;;
  background: #fffffe;
  font-size: 16px;
  resize: none;
}

.comment-actions{
  background: #007d92;
  border: 1px solid #007d92;
  color: #fffffe;
  width: 10%;
  height: 25px;
  font-size: 14px;
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_field{
  margin: 10px 0;
}